dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.errors
*_flymake.hs
.virthualenv
*~
.hsenv_*
dist_*
history
TAGS
.diagrams-cache
.diagrams_cache
diagrams/*
diagrams/*
.shake.database
*.aux
*.log
*.nav
*.out
*.pdf
*.snm
*.tex
*.toc
*.vrb
*.ptb
Shake
*.sty
GUI
GUITest